*{
    margin: 0;
}
nav{
    display: flex;          
    list-style: none;        
    padding: 0;              
    justify-content: center;
}
Body{
    background-color: #2D0084;
    background-color: linear-gradient(0deg,rgba(45, 0, 132, 1) 0%, rgba(84, 0, 209, 1) 100%);
    width: 100%;
    height: 100%;
}

.Titulos{
    color: white;
    font-size: 2rem;
    font-family: 'LEMON-MILK-Regular';
    margin: 0;
}

@font-face {
    font-family: 'LEMON-MILK-Regular';
    src: url("/media/LEMONMILK-Regular.ttf");
}

.container-form{
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 5%;
    padding-bottom: 5%;
}

.form-input{
    width: 80%;
    border-radius: 1rem;
    height: 2.2rem;
    margin-top: 2%;
    font-size: 1rem;
    background-color: #4700bb;
}

.texto-general{
    color: white;
}

.checkbox-container{
    margin-left: 10%;
    margin-top: 5%;
}