*{
    margin: 0;
}
nav{
    display: flex;          
    list-style: none;        
    padding: 0;              
    justify-content: left;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 8%;
}
Body, html{
    background: linear-gradient(180deg, #2D0085 0%, #25006D 35.98%, #170044 99.56%);
    width: 100%;
    height: 100%;
}
.logo{
    height: 2.5rem;
    margin-right: 1rem;
}
.Titulos{
    color: white;
    font-size: 1.5rem;
    font-family: 'LEMON-MILK-Regular';
    margin: 0;
}
.Subtitulos{
    color: white;
    font-size: 0.875rem;
    font-family: 'LEMON-MILK-Regular';
    margin: 0;
}
.texto-general{
    color: white;
    font-size: 1rem;
    font-family: 'open-sans', sans-serif;
}

@font-face {
    font-family: 'LEMON-MILK-Regular';
    src: url("media/LEMONMILK-Regular.ttf");
}

.container-form{
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 5%;
    padding-bottom: 5%;
}

.form-input{
    width: 80%;
    border-radius: 1rem;
    height: 2.5rem;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
}

.checkbox-container{
    margin-left: 10%;
    margin-top: 5%;
}

.buttons-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

button{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn:active {
    transform: scale(0.96);
}

.buttons-container-center{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 

    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-azul {
    background: linear-gradient(to bottom, #6200ea, #30009c);
}

.btn-verde {
    background: linear-gradient(to bottom, #00c090, #009570);
}

.head {
    align-items: center;      
    list-style: none;        
    padding: 0;              
    justify-content: center;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 6%;
}

.logo-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 5%;
    height: 5rem;
}

.titulo-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brillo-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 4.9rem;
    width: 10.5rem;
    filter: brightness(120%);
    box-shadow: 0 0 1rem 0.005rem rgb(255, 255, 255);
    border-radius: 40%;
}

.carrusel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel {
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}

.img-card {
    width: 17.1875rem;
    height: 11.75rem;
    object-fit: cover;
    border-radius: .2rem;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}