/* COMPONENTES */

button{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    padding: 15px 35px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn:active {
    transform: scale(0.96);
}

.form-input{
    width: 80%;
    border-radius: 1rem;
    height: 2.5rem;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 1rem;

    box-shadow: 
        10px 10px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        -5px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.5);
}

.form-input-40{
    width: 40%;
    border-radius: 1rem;
    height: 2.5rem;
    margin: 2.5%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 0.6rem;

    box-shadow: 
        10px 10px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        -5px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.5);
}

.form-input-distancia{
    width: 40%;
    border-radius: 1rem;
    height: 2.5rem;
    margin: 2.5%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 0.6rem;
    padding-right: 3rem;

    box-shadow: 
        10px 10px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        -5px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.5);
}

select option {
    background-color: #2D0084; 
    color: white;
}

input[type="file"] {
    display: none;
}

.upload-button-styled {
    display: none;
}

.img-perfil{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1rem;
}

.img-general{
    width: 5.625rem;
    height: 5.625rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: linear-gradient(180deg, #5C467E 100%, #36294A 100%);
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::after {
    font-family: 'open-sans', sans-serif;
    font-weight: 900;
    content: '✓';
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
    background-color: #5C467E;
}

input[type="checkbox"]:checked::after {
    display: block;
}