/* COMPONENTES */

button{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    padding: 15px 35px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.button-fake{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    padding: 15px 35px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn:active {
    transform: scale(0.96);
}

.form-input{
    width: 80%;
    border-radius: 14px;
    height: 2.5rem;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 1rem;

    box-shadow: 
        2px 2px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        2px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.25);
}

.form-input-40{
    width: 40%;
    border-radius: 1rem;
    height: 2.5rem;
    margin: 2.5%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 0.6rem;

    box-shadow: 
        10px 10px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        -5px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.5);
}

.form-input-distancia{
    width: 40%;
    border-radius: 1rem;
    height: 2.5rem;
    margin: 2.5%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
    color: white;
    padding-left: 0.6rem;
    padding-right: 3rem;

    box-shadow: 
        10px 10px /* Desplazamiento a la derecha y abajo */
        15px      /* Desenfoque */
        -5px      /* Propagación negativa (opcional, ayuda a concentrarla) */
        rgba(0, 0, 0, 0.5);
}

select option {
    background-color: #2D0084; 
    color: white;
}

input[type="file"] {
    display: none;
}

.upload-button-styled {
    display: none;
}

.img-perfil{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1rem;
}

.img-general{
    width: 5.625rem;
    height: 5.625rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: linear-gradient(180deg, #5C467E 100%, #36294A 100%);
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::after {
    font-family: 'open-sans', sans-serif;
    font-weight: 900;
    content: '✓';
    color: white;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
    background-color: #5C467E;
}

input[type="checkbox"]:checked::after {
    display: block;
}

input[type="date"] {
    /* Step 1: Remove the default styling on WebKit browsers */
    -webkit-appearance: none;
    
    /* Step 2: Remove the default border and background */
    border: none;
    background: transparent;
    
    /* You may need to specify a color for the text, 
       otherwise it might be the default system color */
    color: white;

    /* Other basic styles */
    font-family: Arial, sans-serif;
    padding: 10px;
/* Custom Box Styling */
    border-radius: 1rem;
    background-color:linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);

    
    /* Custom Text Styling */
    font-size: 1rem;
    line-height: 1.5;
    
    width: 10%;
    height: 2.5rem;
    margin: 2.5%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    /* Change the color of the placeholder text */
    /* Note: This only works before a date is selected */
    color: #555;
}

input {
    border: none;
    border-style: none;
}

input:focus {
    outline: none;
    background-color: var(--gradiente-gris);
}