/* COMPONENTES */

button{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    padding: 15px 35px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.btn:active {
    transform: scale(0.96);
}

.form-input{
    width: 80%;
    border-radius: 1rem;
    height: 2.5rem;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: linear-gradient(180deg, #5D00E8 0%, #2D0084 100%);
}
