/* CONTENEDORES */

.container-form-login{
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 40%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 5%;
    padding-bottom: 5%;

    box-shadow: 
        inset 10px 10px 30px 3px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2%;
    margin-left: 1rem;
}

.container-between{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
}

.register-container{
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    margin-left: 14%;
}

.buttons-container-center{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 

    display: flex;
    justify-content: center; 
    align-items: center;
}

.checkbox-container{
    margin-left: 10%;
    margin-top: 5%;
}

.buttons-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.file-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.container-form{
    margin-top: 1.5rem;
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 0.45rem;
    padding-bottom: 1.25rem;

    box-shadow: 
        inset 10px 10px 30px 3px rgba(0, 0, 0, 0.25);
}

input[type="date"] {
    /* 1. Dimensiones y Espaciado */
    width: 10rem;
    padding: 8px 10px;

    /* 2. Diseño del Borde y Fondo */
    border-radius: 14px; /* Bordes redondeados */
    background-image: linear-gradient(#5D00E8, #2D0084);

    /* 3. Tipografía */
    font-size: 16px;
    color: #ffffff7e;
}

input[type="checkbox"] {
    /* 1. Dimensiones y Espaciado */
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;

    /* 2. Diseño del Borde y Fondo */
    border-radius: 14px; /* Bordes redondeados */
    background-image: linear-gradient(#5D00E8, #2D0084);

    /* 3. Tipografía */
    font-size: 16px;
    color: #ffffff7e;
}

.container-scroll-y {
    margin-top: 0;
    height: 12rem;
    overflow-y: scroll; 
    border-radius: 1rem;

    /* Estilos adicionales opcionales para visualización */
    width: 80%;
    padding: 10px;
    background: linear-gradient(#56467E, #36294A);

    box-shadow: 
        inset 10px 10px 30px 3px rgba(0, 0, 0, 0.25);
}

.container-scroll-y::-webkit-scrollbar {
  display: none; /* La propiedad clave */
}

.container-item-scroll {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    border: #ffffff7e;
    color: white;
    font-size: 1rem;
}

#container_nacimiento {
    text-align: left;
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.25rem;
    background: linear-gradient(#5D00E8 0%, #2D0084 100%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.icono-navbar {
    width: 3.75rem;
    height: 3.75rem;
    margin: auto;
    cursor: pointer;
}

.buttons-container-center-feed{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.container-feed-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5.25rem;
    background: linear-gradient(#56467E 0%, #36294A 100%);
    border-radius: 1rem;
}

.btn-feed-x{
    width: 3.75rem;
    height: 3.75rem;
    margin: auto;
    cursor: pointer;
    border-radius: 1rem;
    background: linear-gradient(#FF0066 0%, #8E0036 100%);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-feed-next{
    width: 3.75rem;
    height: 3.75rem;
    margin: auto;
    cursor: pointer;
    border-radius: 1rem;
    background: linear-gradient(#5D00E8 0%, #2D0084 100%);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-feed-like{
    width: 3.75rem;
    height: 3.75rem;
    margin: auto;
    cursor: pointer;
    border-radius: 1rem;
    background: linear-gradient(#00B17E 0%, #005B41 100%);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5.25rem;
    background: linear-gradient(#56467E 0%, #36294A 100%);
    border-radius: 1rem;
}