/* CONTENEDORES */
.chats-container{
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
}
.search-container{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
}
.container-form-login{
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 40%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 5%;
    padding-bottom: 5%;

    box-shadow: 
        inset 10px 10px 30px 3px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.register-container{
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0.5rem;
    margin-left: 14%;
}

.buttons-container-center{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 

    display: flex;
    justify-content: center; 
    align-items: center;
}

.checkbox-container{
    margin-left: 10%;
    margin-top: 5%;
}

.buttons-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%; 

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.container-form{
    margin-top: 1.5rem;
    align-items: center;
    text-align: center;
    display: flex;           
    flex-direction: column;  
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #27134e; 
    border-radius: 1rem;  
    padding-top: 5%;
    padding-bottom: 5%;

    box-shadow: 
        inset 10px 10px 30px 3px rgba(0, 0, 0, 0.25);
}

input[type="date"] {
    /* 1. Dimensiones y Espaciado */
    width: 10rem;
    padding: 8px 10px;

    /* 2. Diseño del Borde y Fondo */
    border-radius: 14px; /* Bordes redondeados */
    background-image: linear-gradient(#5D00E8, #2D0084);

    /* 3. Tipografía */
    font-size: 16px;
    color: #ffffff7e;
}

input[type="checkbox"] {
    /* 1. Dimensiones y Espaciado */
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;

    /* 2. Diseño del Borde y Fondo */
    border-radius: 14px; /* Bordes redondeados */
    background-image: linear-gradient(#5D00E8, #2D0084);

    /* 3. Tipografía */
    font-size: 16px;
    color: #ffffff7e;
}
