@import url(components.css);
@import url(colors.css);
@import url(text.css);
@import url(containers.css);
@import url(messages.css);

/* Honestamente no supe en  que categoria meter estos estilos xd */

*{
    margin: 0;
}

nav {
    display: flex;          
    list-style: none;        
    padding: 0;              
    justify-content: left;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 8%;
}

Body, html {
    width: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(180deg, #2D0085 0%, #25006D 35.98%, #170044 99.56%);
    min-height: 100%;
    /* 2. EVITA QUE EL GRADIENTE SE REPITA */
    background-repeat: no-repeat; 
    /* 3. ASEGURA QUE CUBRA TODA LA ALTURA DEL CONTENIDO */
    /* Esta combinación asegura que el gradiente se estire desde el inicio
        hasta el final del contenido de la página, sin importar lo largo que sea. */
    background-size: 100% auto; 
}

.form-todo {
    margin: 0;
    padding-bottom: 4rem;
}

.logo {
    height: 2.75rem;
    width: 5.875rem;
}

.head {
    align-items: center;      
    list-style: none;        
    padding: 0;              
    justify-content: center;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 6%;
}

.logo-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 5%;
    height: 5rem;
}

.titulo-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brillo-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 4.9rem;
    width: 10.5rem;
    filter: brightness(120%);
    box-shadow: 0 0 1rem 0.005rem rgb(255, 255, 255);
    border-radius: 40%;
}

.carrusel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}

.img-card {
    width: 17.1875rem;
    height: 11.75rem;
    object-fit: cover;
    border-radius: .2rem;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.header {
    display: flex;          
    list-style: none;        
    padding: 0;              
    justify-content: left;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, #5D00E8, #2D0084);
    box-shadow: 0 0 1rem 0.5rem #1f005d;
}


.brillo-logo-header {
    display: block;
    margin-left: 2.2rem;
    margin-right: 1.5rem;
    height: 2.75rem;
    width: 5.875rem;
    filter: brightness(120%);
    box-shadow: 0 0 1rem 0.005rem rgb(255, 255, 255);
    border-radius: 40%;
}

.icono {
    z-index: 3;
    margin-left: -3rem;
    cursor: pointer;
}

.bx {
    font-size: 1.875rem;
    transform: translateX(-35px);
    cursor: pointer;
}

.bx1 {
    font-size: 1.875rem;
    transform: translateX(-35px);
    cursor: pointer;
}

.file-name {
    justify-content: center;
    align-items: center;
    color: #ffffff7e;
    border-bottom: 0.1rem solid #ffffff7e;
    margin-left: 1rem;
    padding-bottom: 2px;
}

  .input-sin-fondo {
    width: 90%;
    height: 1rem;
    margin-left: 2.5%;
    background-color: transparent; /* Hace el fondo invisible */
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno azul al enfocar */
    color: #ffffff7e; /* Color del texto dentro del input */
    font-size: 1rem;
    padding-left: 1rem;
    padding: 10px;
    /* Puedes añadir un estilo para que se vea mejor, como un subrayado */
    border-bottom: 1px solid #ffffff;
    transition: border-bottom-color 0.3s ease;
  }

  .input-sin-fondo:focus {
    border-bottom-color: #ffffff7e; /* Cambia el color del subrayado al enfocar */
  }